/*
Top header bar color
*/
.pre-header
{
    background-color: #d3d3d3;
    text-align:right;
    width:100%;
}

/*
Metronic responsive Bug Fix
*/
.carousel-slider .carousel-control
{
    width: 20%;
}

/*
glyphicon color
*/
.icon-color
{
    color:#2D20D4;

}

.preheader-span-text-color
{
    color: black;
    font-weight: bold;
}

.header-navigation ul > li.active > a,
.header-navigation ul > li > a:hover,
.header-navigation ul > li > a:focus,
.header-navigation ul > li.open > a,
.header-navigation ul > li.open > a:hover,
.header-navigation ul > li.open > a:focus {
    color: #FFFFFF;
    background: #2f70a8;
    text-decoration: none;
}


/*
Soft Site Description
*/
.about-us {
    text-align: center;
    font-size: 15px;
    width: 100%;
    padding: 40px;
}


.btn-nav-blue {
    background: #2f70a8;
    border-color: #2f70a8;
}

/*
page font
*/
.page-font
{
    font-size: 15px;
}

.service-box p {
    color: #656565;
    font-size: 15px;
}


.pre-header a {
    color: #963d3b;
}
.pre-header a:hover {
    color: #000000;
}

/*
Drop down menu top arrow color
*/
.header-navigation > ul > li.dropdown:hover > a:after {
    bottom: 0;
    width: 0;
    height: 0;
    z-index: 1002;
    content: " ";
    display: block !important;
    position: absolute;
    border-bottom: 8px solid #2f70a8;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

/*
Drop down menu back color
*/
.header-navigation .dropdown-menu > li:first-child {
    border-top: solid 2px #2f70a8;
}
/*
Drop down menu item highlight color
*/
.header-navigation .dropdown-menu > li > a:hover, .header-navigation .dropdown-menu > li.active > a, .header-navigation .header-navigation-content .header-navigation-col li > a:hover, .header-navigation .header-navigation-content .header-navigation-col li.active > a {
    background: #2f70a8;
    color: #fff;
}

/*
search box top bar color
*/
.header-navigation .search-box {
    border-top: solid 2px #2f70a8;
}

/*
search box top arroe color
*/
.header-navigation .search-box:after {
    border-bottom: 8px solid #2f70a8;
}

.search-button
{
    background-color: #2f70a8;
}

.service-box .service-box-heading
{
    padding-top: 12px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}
/*
customer views box bottom quote color
*/
.testimonials-v1 blockquote:after {
    background-color: #2f70a8;
}

/*
Goal Defination Bar
*/
.front-steps-wrapper .front-step1 {
    background: #2f70a8;
}
/*
Goal Defination Bar
*/
.front-steps-wrapper .front-step1:after {
    border-left: 15px solid #2f70a8;
}
/*
Testimonial Title name color
*/
.testimonials-v1 span.testimonials-name {
    color: #2f70a8;
}

/*
Get free quote button margin
*/

.quote-btn
{
    margin-top: 23px;
}


/*
Text Alignmnent Technology Description
*/

.text-alignment
{
    text-align: center;
}